<!DOCTYPE html>
<html lang="fr">

    <head>
        <title>Commande </title>
    </head>
    <body>
        <h1>Commander des billets</h1>
            <p>Veuillez choisir les épreuves pour lesquelles vous souhaitez réserver des billets</p>
            
    </body>
   
</html>