@{
    ViewData["Title"] = "Se connecter  ";
}
<h1>@ViewData["Title"]</h1>



<body>

    <h1 class="text-center">connection</h1>
    
    <div class="container"></div>
    <div class="form-group row">
        <div class="col-md-6">
            <!--Champs pour renseigner le nom d'utilisateur (nom) -->
            <div class="mb-3">

                <label for="UserName" class="form-label form-control-sm">Nom d'utilisateur  </label>
                <input type="text" class="form-control" id="UserName" placeholder="Dupuis" required>
            </div>

            

            <!--Champs pour renseigner le mot de passe -->
            <div class="mb-3">
                <label for="UserPassword" class="form-label">Mot de passe </label>
                <input type="password" onchange="validerMotDePasse()" class="form-control" id="UserPassword" placeholder="********" required>
            </div>

            

            

            <!--Bouton pour valider le formulaire-->
            <button type="submit" class="btn btn-primary" onclick="doubleauthentification()">Créer un compte</button>

        </div>

        <!--2e partie de la page pour afficher le lien double authentification-->
        <div class="col-md-6" id="doubleauthentification" style="display:none;">
            <h2>double authentification</h2>
            <p>lien envoyé par mail pour valider la double authentification</p>
            <a href="command.cshtml">Valider la double authentification</a>


        </div>
    </div>
