@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<h2>Tous droits réservés </h2>
<p>Les informations recueillies sur ce site sont enregistrées dans un fichier informatisé par BLOC3ProjetReservationJO pour la gestion des réservations.</p>
<p>Elles sont conservées pendant 1 an et sont destinées au service commercial.</p>

<p>Conformément à la loi « informatique et libertés », vous pouvez exercer votre droit d'accès aux données vous concernant et les faire rectifier en contactant BLOC3ProjetReservationJO par mail à l'adresse

   <h2>CRédits </h2>
   <p>source d'images pixabay</p>

